<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Registro</display-name>
    <servlet-name>Registro</servlet-name>
    <servlet-class>Servlets.Login.Registro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registro</servlet-name>
    <url-pattern>/Registro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.Login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculadoraHipotecaServlet</display-name>
    <servlet-name>CalculadoraHipotecaServlet</servlet-name>
    <servlet-class>Servlets.Hipotecas.CalculadoraHipotecaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculadoraHipotecaServlet</servlet-name>
    <url-pattern>/CalculadoraHipotecaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecuperarHipotecaServlet</display-name>
    <servlet-name>RecuperarHipotecaServlet</servlet-name>
    <servlet-class>Servlets.Hipotecas.RecuperarHipotecaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecuperarHipotecaServlet</servlet-name>
    <url-pattern>/RecuperarHipotecaServlet</url-pattern>
  </servlet-mapping>
</web-app>